#title-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;  
  
  border: solid 2px #000000;

  width: 100%;
  height: 100%;
  margin: 50px;
  padding: 25px;
  gap: 0px;
  justify-content: center;
}
 
h1 {
  color: red;
  margin: 0px;
}
 
p {
  color: blue;
  margin: 0px;
}

button {
  border: solid 2px #000;
  border-radius: 8px;
  margin-top: 25px;
}



#card-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;  
  
  border: solid 2px #000;

  width: 100%;
  height: 100%;
  padding: 25px;
  gap: 20px;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 100%;
  padding: 0px;
}

.card h3 {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  font-size: 16px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-align: center;
  border: solid 2px aqua;
  border-radius: 8px;
  padding: 5px;
}

img {
  width: 200px;
  height: auto;
  max-width: 200px;
  border: solid 2px #000;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}