.photo {
    width: 30%;
    height: 175px;
    object-fit: cover;
    border: 0.25rem solid black;
    border-radius: 10px;
    box-shadow: -10px 10px 10px 0px rgba(0,0,0,0.75);
  }
    .card {
        width: 100%;
        height: 100%;
        background-color: #f0f0f0;
        border-radius: 10px;
        box-shadow: -10px 10px 10px 0px rgba(0,0,0,0.75);
        padding: 20px;
        text-align: center;
    }  