/* Philosophy Cards Library App */
.container#app-parent {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
  max-width: 100vw;
  align-items: center;
  margin: 50px;
  border: solid 2px #000000; /* Border color */
}

.container#page-title h1{
  color: #2e96ff; /* Text color */
  text-align: center;
  font-style: italic;
}

.container#page-title p{
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  color: #2e96ffad; /* Text color */
  text-align: center;
}

.library-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 20px; /* Add some margin around the card section */
  gap: 25px; /* Add some space between the cards */
}

.card-container {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card-container h2 {
  height: auto; /* Set a fixed height for the title */
  width: 100%;
  flex-wrap: wrap;
  color: #000000; /* Text color */
  font-size: 16px; /* Font size */
  border: solid 2px #00d9ff7c; /* Border color */
  border-radius: 8px;
  align-content: center;
  padding: 8px;
  overflow: visible;
}

.card-image {
  object-fit: cover;
  width: 200px;
  height: 100%;
  max-width: 300px; /* Set a maximum width for the image */
  border: solid 2px #000000; /* Border color */
  border-radius: 10px; /* Optional: Add rounded corners to the image */
  justify-content: center;
  box-shadow: 4px 4px 8px lightgrey; /* Optional: Add shadow effect */
}